body {
  background-color: url ("../images/grid.jpg");

  font-family: 'Convergence';
 }



.wrapper {
  background-image: url('../images/grid.jpg');
  height: 650px;
  background-size: cover;
  padding-top: 150px;
  text-align: center;
  color: white;
}
.lead h1 {
  font-size: 72px;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
  font-weight: normal;
}


/* navbar */
.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #15e5ed;
  line-height: 25px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}

/* Carousel */
.carousel img{
  width:1500px;
  height:950px;
}  
/* Footer */
#footer {
  background-color: #222;
  color: #aaaaaa;
  
  padding-top: 3em;
  padding-bottom: 3em;
}

#footer a {
  color: #cccccc;
}

#footer a:hover {
  color: white;
}

.social a {
  font-size: 24px;
}

.social a:hover {
  text-decoration: none;
}
.vertical-spacer {
  height: 10em;


}
/* Social icons */
.background {

 width:1350px;
 height:650px;
}

/* Performers */
.site__title > .title--icon {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    color:#ff00f2;
    font-size:30px;
}

.site__title:hover > .title--icon {
    transform: rotateZ(-180deg);
    -webkit-transform: rotateZ(-180deg);
    -moz-transform: rotateZ(-180deg);
    -o-transform: rotateZ(-180deg);
    -ms-transform: rotateZ(-180deg);
}

.site__title > .title--icon, .site__title:hover > .title--icon {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    }
.performers {
 border-radius:50%;
 width:150px;
 height:150px;
}
.performers:hover{
width: 250px;
height: 250px;
}
#style {
  color: red;
}

.shadow {
box-shadow:3px 3px 5px black;
}


#text {
  font-size:14px;
 text-align:justify;
}
/* img galerie */
.title {
  color:red;
  font-size:14px;
 text-align:center;
   text-decoration:none;

}