body {
  background-color: url ("../images/grid.jpg");
  color:white;
  font-family: 'Convergence';
 }

#lead {
 color: #15e5ed;
 
}
h1 {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
  color:#15e5ed;
    margin:4rem;
}

h2 {
color:black;
}


.wrapper {
  background-image: url('../images/grid.jpg');
  height: 650px;
  background-size: cover;
  padding-top: 150px;
  text-align: center;
  color: white;
}


/* navbar */
.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: white;
  line-height: 25px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}
/*Wrapper*/
video#bgvid {

  position: fixed; right: 0; bottom: 0;

  min-width: 100%; min-height: 100%;

  width: auto; height:auto; z-index: -100;

  background: url(mp4.jpg) no-repeat;

  background-size: cover;

}
#show { 
  font-family: 'Convergence';
  font-weight:100; 
  background: rgba(0,0,0,0,6);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: center;

  font-size: 1.2rem;
}
/* Carousel */
.carousel img{
  width:1500px;
  height:850px;
}  
/* Footer */
#footer1 {
  background-color:  #222;
  color: #aaaaaa;

  padding-top: 3em;
  padding-bottom: 3em;
}
#footer {
  background-color: #222;
  color: #aaaaaa;

  padding-top: 3em;
  padding-bottom: 3em;
}
#footer a {
  color:#15e5ed;
}

#footer a:hover {
  color: white;
}

.social a {
  font-size: 24px;
}

.social a:hover {
  text-decoration: none;
}
.vertical-spacer {
  height: 10em;


}
/* Social icons */
.background {

 width:1350px;
 height:750px;
}

/* Performers */

.performers {
 border-radius:50%;
 width:150px;
 height:150px;
}
.performers:hover{
width: 250px;
height: 250px;
}
#style {
  color: red;
}

.shadow {
box-shadow:3px 3px 5px black;
}


#text {
  font-size:14px;
 text-align:justify;
 color:black;
}
/* img galerie */
.title {
  color:red;
  font-size:14px;
 text-align:center;
   text-decoration:none;

}
.style {
  font-size:34px;
 text-align:center;
 color:#15e5ed;
}